.navbar {
    background: #051C59;
  
    .settings-icon {
      height: 2em;
      width: 2em;
      color: #7df481;
    }
    
    .leaderboard-icon {
      height: 2em;
      width: 2em;
      color: #7df481;
    }
  
    .app-logo-gamified {
      width: 10em;
    }
}