.innerCard {
    height: 20% !important;
    width: 30%;
    margin-bottom: 5px;
    border-color: #FF3333 !important;
    border-width: 1.5px !important;
    border-radius: 15px !important;
    font-size: large;

    .form-label {
        margin: 0;
    }
    .taskTime {
        font-weight: bold;
    }
    .taskDescription {
        font-style: italic;
        font-weight: normal;
        padding: 0;
    }
    .alertIcon {
        font-weight: bold;
        height: 2em;
        width: 2em;
    }
    
    .rowInnerCard {
        padding-inline: 1.5em;
        padding-block: 0.5em;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .col {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;            
        }
        .headerCol > *:first-child {
            margin-right: 0.5em;
        }
        .headerCol > *:last-child {
            margin-left: auto;
        }
        .checkboxRow {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0;
            margin-block: 0.5em;
        }
        
        .colInnerCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .btn {
            width: 100%;
            height: 2.5em;
            padding: 0;
            font-size: large;
            background-color: #FFFFFF;
            color: #2d2d2d;
        }
        .btn:hover {
            background-color: #F4F7FF;
        }
        .btn:active {
            background-color: #DFE6F0;
        }
        .stretchCheckboxes {
            padding-inline: 1.5em;
            padding-bottom: 0.5em;
            width: 100%;
            .form-check-input {
                border-color: #7DF481;
                height: 1.5em;
                width: 1.5em;
            }
            .form-check-input:checked {
                background-color: #7DF481;
            }

        }
        .stretchImages {
            width: 100%;
            img {
                width: 25%;
            }  
        }            
    }
}

.innerCard.moveHeight {
    height: 14em !important;
}

.innerCard.standUpHeight {
    height: 14em !important;
}