.workingTimeCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .invalid-feedback {
        text-align: center;
        font-weight: normal;
    }

    &.col {
       padding: 0 50px;
    }
}
