.scheduleCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.iconCol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    margin-inline: 1em;

    .howto-icon {
        justify-content: flex-start;
        align-items: center;
        height: 1.2em;
        width: 1.2em;
        color: #051C59;
    }
    .about-icon {
        justify-content: flex-end;
        align-items: center;
        height: 1.2em;
        width: 1.2em;
        color: #051C59;
    }
    a {
        display: flex;
        align-items: center;
    }
}
.iconCol > *:first-child {
    margin-right: 0.5em;
}
.iconCol > *:nth-last-child(2) {
    margin-left: auto;
}
.iconCol > *:last-child {
    margin-left: 0.5em;
}

h6 {
    margin-bottom: 0 !important;
}

.progressContainer {
    width: 80%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    height: 40px;

    div {
        font-weight: normal;
    }

    .progress {
        box-shadow: 0 0 7px #DDDDDD;
        border-radius: 1em;
        width: 100%;
        border: 1px solid #051C59 !important;
        background-color: #FFFFFF !important;
    }

    .progress-bar {
        height: 36px;
        background-color: #7DF481 !important;
    }
}