.scheduleTitle {
    display: flex;
    font-size: larger;
    font-weight: bold;
    justify-content: center;
}
.scheduleColGamified {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: start; 
}

.progressCol{
    padding-right: 0 !important;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
    max-width: 30% !important;    
    .progress {
        height: 100%;
        width: 1em;
        border-color: #051C59;
        background-color: #FFFFFF;

    }
    .progress-bar {
        height: 14%;
        width: 100%;
        border-color: #051C59;
        background-color: #7DF481;

    }
}


