.settingsCol {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: large;
    font-weight: bold;
    margin-top: 0.5em;
    h6 {
        margin-top: 1em !important;
    }

    .btn {
        background-color: #FFFFFF;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: medium;
        color: #2d2d2d;
        margin: 1em;
        height: 2em;
        width: 6em;
    }
    .btn:hover {
        background-color: #F4F7FF !important;
        color: #2d2d2d !important;
    }
    .btn:active {        
        border-color: #051C59 !important;
        background-color: #DFE6F0 !important;
        color: #2d2d2d !important;
    }
    .btn:disabled {
        border-color: #2d2d2d !important;
        background-color: #F4F7FF !important;
        color: #666666 !important;
    }
}

.modal.show {
    .modal-dialog {
        margin: auto;
        height: auto;
        font-family: 'Atkinson Hyperlegible';
        font-size: medium;
        text-align: center;
        width: 30%;
    }

    .modal-content {
        border-width: 2px;
        border-color: #7df481;
        .modal-body {
            border-radius: 1em;
        }
    }
}

.warning.modal.show .modal-dialog {
    width: 40%;
    
    @media only screen and (max-width: 750px) {
        width: 60%;
    }

    @media only screen and (max-width: 450px) {
        width: 80%;
    }
}

.warning.modal.show .modal-content {
    border-width: 2px;
    border-color: #FF3333;
}
