.settingsCol {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: large;
    font-weight: bold;

    .settingsSubtitle {
        font-size: medium;
    }

    .titleCol {    
        font-size: large;
        margin-top: 0.5em;
        .settingsGear {
            height: 1em;
            width: 2em;
        }
    }
    .inputCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: normal;
        font-style: italic;
    
    }
    .btn {            
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
        color: #2d2d2d;
        margin: 1em;
        height: 2em;
        width: 6em;
    }
    .btn:hover {
        background-color: #F4F7FF !important;
        color: #2d2d2d !important;
    }
    .btn:active {
        background-color: #DFE6F0 !important;
        color: #2d2d2d !important;
    }
    .btn:disabled {
        border-color: #2d2d2d !important;
        background-color: #F4F7FF !important;        
        color: #666666 !important;
    }
    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 0;
        width: unset;
    }    
}

.modal.show {
    .modal-dialog {
        margin: auto;
        height: auto;
        font-family: 'Atkinson Hyperlegible';
        font-size: medium;
        text-align: center;
        width: 30%;
    }

    .modal-content {
        border-width: 2px;
        border-color: #7df481;
        .modal-body {
            border-radius: 1em;
        }
    }
}
